<section class="bg-light py-5 text-center" id="faq">
  <div class="container">
    <h1 class="text-black">
      Preguntas Frecuentes
    </h1>
    <p class="text-black">
      Si tiene alguna duda respecto a nuestros servicios puede escribirnos o bien revisar las siguientes preguntas y
      respuestas que le presentamos a continuación:
    </p>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              ¿Cómo es el proceso para solicitar un servicio?
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            El primer paso para comenzar a trabajar con nosotros es escribirnos en la sección de contacto, rellenar los
            datos solicitados y nosotros nos pondremos en contacto con usted por correo electrónico para conversar sobre
            su idea.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              ¿Cuanto tiempo se demora el proceso de creación de mi sistema o pagína web?
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            El tiempo de desarrollo de su sistema o pagína web depende de la complejidad de esta, si lo que necesita es
            una pagína web simple la cual solo sirva para dar a conocer su negocio o empresa el proceso sería de 1 a 2
            semanas dependiendo de su complejidad. En cambio si usted desea un sistema web para administrar su negocio o
            empresa el desarrollo puede llevar meses dependiendo de la complejidad de lo requerido, por lo general se
            trabaja en modulos y se va entregando lo terminado.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              ¿Cómo se realiza el pago?
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            El pago se realiza en cuotas dependiendo de las etapas del proyecto, es decir, cuando se tenga lista la idea
            de su sistema deseado se realizará un pago inicial para la puesta en marcha de su proyecto, cuando se
            comience a trabajar ya con el sistema es decir la puesta en marcha se realizará otro pago y finalmente se
            realizará un pago final cuando el sistema se encuentre totalmente funcional.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              ¿Se pueden realizar modificaciones una vez terminado el sistema?
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Sí, si se encuentra durante el periodo de desarrollo puede solicitar cambios en el sistema. En caso de que
            el sistema se encuentre terminado y entregado los cambios adicionales tendrán un costo adicional dependiendo
            de su complejidad los cuales seran acordados al momento de comenzar a trabajar en su sistema o pagina web.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              ¿Entregan Instructivos o realizan capacitaciones para aprender a utilizar mi sistema solicitado?
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            Una vez terminado su sistema se le realizará una capacitación de manera presencial para que aprenda a
            utilizar su sistema, ademas de entregarle un manual digital donde se le detallará el uso personalizado de su
            sistema.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              ¿Existe algún tipo de garantia?
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            Se cuenta con una garantia de un año desde que el sistema se entrega para su uso, esta garantia solamente
            sera efectiva si los errores encontrados no son provocados por los usuarios por un mal uso, es decir
            solamente entrarán en garantia errores del sistema en si.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>