<header class="main-header">
  <div class="background-overlay text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center justify-content-center">
          <h1>La mejor pagina web y sistema al alcance de su mano</h1>
          <p>Si desea una web para su negocio o un sistema para administrar su empresa, esta en el lugar indicado.</p>
          <a class="btn btn-outline-warning btn-lg" href="#contacto">
            Comience a trabajar con nosotros
          </a>
        </div>
        <div class="col-md-6">
          <img src="assets/img/dispositivos-header.png" alt="Imagen programador" class="img-fluid d-none d-sm-block" style="width: 100%">
        </div>
      </div>
    </div>
  </div>
</header>