<footer>
  <div class="container p-3 text-white text-center">
    <p><img src="assets/img/fox-body.png" class="img-fluid float-center" width="80px" height="80px"></p>
    <p>
      Copyright NeoFox &copy; 2019
      <!-- <img src="assets/img/fox-body.png" class="img-fluid float-right" width="80px" height="80px"> -->
    </p>
    <!-- <div class="text-right">
      <img src="assets/img/NeoFox_Head.png" alt="vinculo a facebook" class="img-fluid" style="padding-top: -100px;" width="40px" height="40px">
    </div> -->
  </div>
</footer>