<div class="container">
  <section class="team text-center" id="equipo">
     <br><h2 class="text-white">
          Visita Nuestras Redes Sociales
        </h2><br>
        <div class="col-12">
          <div class="row">

          <div class="col-12 col-md-4 col-lg-4">
              <a href="https://www.facebook.com/NeoFoxInformatica" target="_blank">
                <img src="assets/img/facebook.png" alt="vinculo a facebook" class="img-fluid rounded-circle" width="100px" height="100px">
              </a>
              <h5 class="text-white"> <br> Facebook</h5>
          </div>

          <div class="col-12 col-md-4 col-lg-4">
              <a href="https://twitter.com/NeoFoxTIC" target="_blank">
                <img src="assets/img/twitter.png" alt="vinculo a twitter" class="img-fluid rounded-circle" width="100px" height="100px">
              </a> 
              <h5 class="text-white"> <br> Twitter</h5>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <a href="https://www.instagram.com/neofoxinformatica/" target="_blank">
                <img src="assets/img/instagram.png" alt="vinculo a instagram" class="img-fluid rounded-circle" width="100px" height="100px">
              </a>
              <h5 class="text-white"> <br> Instagram</h5>
            </div>

          </div>
        </div> <br>
  </section> <br>
</div>