<div class="container">
  <section class="team text-center" id="equipo">
      <h1 class="text-white">
          Visita Nuestras Redes Sociales
      </h1>
        <div class="col-12">
          <div class="row">

          <div class="col-4">
              <a href="https://www.facebook.com/NeoFoxInformatica" target="_blank">
                <img src="assets/img/facebook.png" alt="vinculo a facebook" class="img-fluid rounded-circle w-50">
              </a>
              <h5 class="text-white">Facebook</h5>
          </div>

          <div class="col-4">
              <a href="https://twitter.com/NeoFoxTIC" target="_blank">
                <img src="assets/img/twitter.png" alt="vinculo a twitter" class="img-fluid rounded-circle w-50">
              </a>
              <h5 class="text-white">Twitter</h5>
            </div>

            <div class="col-4">
              <a href="" target="_blank">
                <img src="assets/img/instagram.png" alt="vinculo a instagram" class="img-fluid rounded-circle w-50">
              </a>
              <h5 class="text-white">Instagram</h5>
            </div>

          </div>
        </div>
  </section> <br>
</div>