<section class="team text-center" id="equipo">
  <div class="container p-5">
    <h1 class="text-white">
      Nuestro Equipo
    </h1>
    <p class="text-white">
      Nuestro equipo esta formado por profesionales Ingenieros en Informatica y Analistas Programadores, cada uno se desarrolla en distintas areas de la informatica y trabaja para ofrecerle uno de los mejores servicios
    </p>
    <div class="row">
      <div class="col-lg-3 p-2">
        <div class="card">
          <div class="card-body">
            <img src="assets/img/juanito.jpg" alt="miembro 1" class="img-fluid rounded-circle w-50">
            <h3>Alejandro Godoy</h3>
            <p><strong>Administrador del desarrollo back-end y Base de datos</strong><br> Administración en la estructura de bases de datos y fuente de la aplicación.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 p-2">
          <div class="card">
            <div class="card-body">
              <img src="assets/img/mexi.jpg" alt="miembro 1" class="img-fluid rounded-circle w-50">
              <h3>Bryan Montecino</h3>
              <p><strong>Administrador de arquitectura servidor</strong><br> Administracion de la informacion en los servidores, respaldo y mantenimiento de la información</p>
            </div>
          </div>
      </div>
      <div class="col-lg-3 p-2">
          <div class="card">
            <div class="card-body">
              <img src="assets/img/rio.jpg" alt="miembro 1" class="img-fluid rounded-circle w-50">
              <h3>Bryan Vidal</h3>
              <p><strong>Encargado del desarrollo Front-end</strong><br> Desarrollo de la interfaz y administracion de aplicaciones.</p>
            </div>
          </div>
      </div>
      <div class="col-lg-3 p-2">
          <div class="card">
            <div class="card-body">
              <img src="assets/img/empaboy.jpg" alt="miembro 1" class="img-fluid rounded-circle w-50">
              <h3>David Luna</h3>
              <p><strong>PMO Manager</strong><br> Administración en la comunicación y participación con el cliente.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>