<section class="py-5 text-center" id="servicios">
  <div class="container">
      <h1 class="text-black">
          Servicios
        </h1>
        <p class="text-black">
          Nuestros servicios van desde el desarrollo de un sistema de administración totalmente personalizado para su negocio o empresa, hasta el diseño de una web simple para dar a concoer su negocio o empresa.
        </p>
    <div class="col-12">
      <div class="row text-center">
        <div class="col-md-4 p-2">
          <div class="cuerpo card text-white" style="height: 40rem;"> <br>
            <img src="assets/img/disenioweb.png" class="card-img-top img-fluid w-50 mx-auto" alt="Foto diseño Web">
            <div class="card-body" style="height: 12em">
              <h3 class="card-title">Diseño Web</h3>
              <p class="card-text">Le ofrecemos la oportunidad de dar a cononocer su negocio a través de una pagina web
                en la cual dará a conocer sus servicios o productos a ofrecer.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Landing Page (Pagína de aterrizaje)</b></li>
              <li class="list-group-item"><b>Web de Catalogos</b></li>
              <li class="list-group-item"><b>Entre otros...</b></li>
            </ul>
            <div class="card-body">
              <button type="button" class="btn btn-outline-warning btn-block">Trabajos Realizados</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-2">
          <div class="cuerpo card text-white" style="height: 40rem;"> <br>
            <img src="assets/img/desarrolloweb.png" class="card-img-top img-fluid w-50 mx-auto"
              alt="foto desarrollo web">
            <div class="card-body" style="height: 12em">
              <h3 class="card-title">Desarrollo Web</h3>
              <p class="card-text">Si desea un sistema para administrar su empresa o su negocio, le ofrecemos la
                oportunidad de desarrollar junto a nosotros una plataforma en la cual se sienta comodo al momento de
                trabajar.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Administración para Sindicatos</b></li>
              <li class="list-group-item"><b>Sistemas de Punto Venta</b></li>
              <li class="list-group-item"><b>Entre otros...</b></li>
            </ul>
            <div class="card-body">
              <button type="button" class="btn btn-outline-warning btn-block">Trabajos Realizados</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-2">
          <div class="cuerpo card text-white" style="height: 40rem;"> <br>
            <img src="assets/img/simbolo-de-dolar.png" class="card-img-top img-fluid w-50 mx-auto" alt="Foto asesoria">
            <div class="card-body" style="height: 12em">
              <h3 class="card-title">Asesorías</h3>
              <p class="card-text">Le otorgamos la facilidad de contactar con nosotros para resolver dudas referente a
                inversiones y manejo de herramientas informaticas.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Adquisición de equipos computacionales</b></li>
              <li class="list-group-item"><b>Orientación en inversiones tecnologicas</b></li>
              <li class="list-group-item"><b>Entre otros...</b></li>
            </ul>
            <div class="card-body">
              <button type="button" class="btn btn-outline-warning btn-block">Trabajos Realizados</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>