<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-2">
        <div class="card" style="width: 18rem;">
          <img src="http://obedalvarado.pw/img/cotizador-banner.png" class="card-img-top" alt="Sistemas Web">
          <div class="card-body">
            <h5 class="card-title">Diseño Web</h5>
            <p class="card-text">Desarrollo de sistemas webs autoadministrables.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sistemas De Sindicato</li>
            <li class="list-group-item">Intranets</li>
            <li class="list-group-item">Tiendas Virtuales</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="card" style="width: 18rem;">
          <img src="http://obedalvarado.pw/img/cotizador-banner.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Desarrollo Web</h5>
            <p class="card-text">Diseñamos la mejor web en conjunto para dar a conocer su negocio.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Pagina Web Estatica</li>
            <li class="list-group-item">Landing Page</li>
            <li class="list-group-item">Deborame otra vez</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="card" style="width: 18rem;">
          <img src="http://obedalvarado.pw/img/cotizador-banner.png" class="card-img-top" alt="Sistemas Web">
          <div class="card-body">
            <h5 class="card-title">Asesorías</h5>
            <p class="card-text">Desarrollo de sistemas webs autoadministrables.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sistemas De Sindicato</li>
            <li class="list-group-item">Intranets</li>
            <li class="list-group-item">Tiendas Virtuales</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="card" style="width: 18rem;">
          <img src="http://obedalvarado.pw/img/cotizador-banner.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>