<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-2">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/img/devices.png" alt="imagen responsivo" class="img-fluid mx-auto" style="width: 50%">
            <h3>Diseños responsivos</h3>
            <p>Todo lo que desarrollamos es compatible para dispositivos moviles y tabletas. Usted no debera de preocuparse desde donde administra su web.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/img/pencil.png" alt="imagen responsivo" class="img-fluid mx-auto" style="width: 50%">
            <h3>Sistemas a su medida</h3>
            <p>Crearemos un sistema de acuerdo a sus necesidades, todo lo que necesite estara disponible en su web.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/img/teamwork.png" alt="imagen responsivo" class="img-fluid mx-auto" style="width: 50%">
            <h3>Compromiso con el cliente</h3>
            <p>Nos comprometemos en asesorarlo en todas sus dudas antes de comenzar a trabajar juntos, ademas de seguir en conctacto una vez terminado su sistema deseado.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/img/browser.png" alt="imagen responsivo" class="img-fluid mx-auto" style="width: 50%">
            <h3>Asistencia en su sistema</h3>
            <p>Estaremos a cargo de su sistema y de cualquier inconveniente que pueda surgir o si requiere algun cambio a futuro.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="m-5">
        <h3>
          ¿Por qué elegirnos para desarrollar su sistema?
        </h3>
        <p>
          Porque somos un equipo de profesionales dedicados en asegurar el éxito de nuestros clientes, usted participara por completo en la creación de su sistema y tendra la posibilidad de escalarlo a futuro si así lo desea. Nos caracterizamos por tener un trato amable con nuestros clientes y ser lo mas transparentes posibles.
        </p>
      </div>
    </div>
  </div>
</section>